body {
  font-family: sans-serif;
  background-color: #f2f2f2;
}

html, .fullscreen {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
  height: 11%;
  text-align: center;
  background-color: #00A86B;
  padding: 20px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#titulo {
  font-size: 4.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 80%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10%;
  border-radius: 10px;
}

.input-label {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.container label {
  margin-right: 15px;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.input-padrao, #elem-select {
  flex:1;
  padding: 10px 15px;
  background-color: #F5F5F5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1.9em;
  border: none;
  border-radius: 5px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.botao {
  border: none;
  padding: 10px 20px;
  font-size: 1.8em;
  border-radius: 5px;
}

.btn-green {
  background-color: #00A86B;
  color: white;
}

.btn-red {
  background-color: #FF6347;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: #00A86B;
  color: white;
  font-size: 2em;
}

#resultado {
  background-color: #ddd;
}
