body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}

html, .fullscreen {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}


header {
    text-align: center;
    max-width: 90%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

#titulo {
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#subtitulo {
    color: #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  }

.container {
    max-width: 70%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container label {
	display: block;
	margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.botoes {
    display: flex;
    justify-content: space-between;
   }

.botao {
    border: 3px outset;
    font-size: 21px;
    color: white;
    width: 50%;
}
